h1{
    color: rgb(3, 3, 3);
    text-align: center;
}
p{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 18px;
    align-items: center;
}
img{
    height: 200px;
    border-radius: 20px;
    border-color: rgb(223, 46, 46);
    border: 5px solid rgb(89, 82, 228);
    margin-left: 660px;
}
body{
    background-image: linear-gradient( rgb(178, 174, 220),rgba(194, 194, 194, 0.848),rgb(178, 174, 220));
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
table{
    margin-left: 390px;
    border-color: black;
}
mark{
    color: #3e76e7;
}
table{
    padding: 0px;
    align-items: center;
}
